/* -----------For Tablet device-------------- */
@media screen and (max-width:1024px){
.navbar{
   max-width: 100%;
}
.blog-container{
    flex-direction: column-reverse;
    text-align: center;
}
iframe{
   
   object-fit: cover;
  
}

.card-container{
    flex-direction: column;
}
.card{
    /* width: 100% !important; */
    max-width: 100% !important;
}
.footer-container{

   flex-direction: column;
   text-align: center;
   
}


}

/* mobile device  up to 425px */
@media screen and (max-width: 640px){
    .navbar{
        flex-direction: column;
        text-align: center;
    }

    .footer-text h4 {
    font-size: 10px !important;
    font-weight: 300;
    margin-bottom: 8px;
}
.icon{
    margin-right:0 !important;
}
.logo h2{
    margin-bottom: 10px;
}
.dream-container h1{
    font-size: 25px !important;
}
.blog-heading h2{
    font-size: 22px !important;
}
}