*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(#C6D3E3,#B2C7FF);
    min-width: 100vh;
}

.navbar,.dream-container,.blog-container,
.inspiration-content,.card-container{
    margin-bottom: 100px;
}

/* --------Navbar design------------ */
.logo h2{
    font-size: 28px;
    font-weight: bolder;
}
.logo h2 span{
    color: #FFA500;
}
.btn button{
    padding: 17px 24px;
    background-image: linear-gradient(to right,#FFA500,#f7e3bf);
    border-radius: 10px;
    font-size: 20px;
    font-weight:600 ;
    box-shadow: grey;
    border: 0;
    box-shadow: 5px 5px 19px lightblue;
    cursor: pointer;
}
.btn button:hover{
   
    background-image: linear-gradient(to right,#5e5d5b,#f7e3bf);
    color: #f7f8fa;
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #f7f8fa;
    padding: 24px 70px;
   
}

/* -----------Dream section----------- */

.dream-container{
    text-align: center;
    max-width: 87.5%;
    background-color: #E6EDF9;
    padding: 40px 60px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
  
}
.dream-container img{
    margin-bottom: 32px;
}
.dream-container h1{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 24px;

}
.dream-container p{
    font-size: 16px;
    color: gray;
    margin-bottom: 32px;
}

/* ----------------------Blog--------------------- */
.blog-heading{
    width: 87.5%;
     margin-left: auto;
    margin-right: auto; 
    text-align: center;
}
.blog-heading h2{
font-size: 32px;
font-weight: bolder;
margin-bottom: 24px;

}

.blog-heading p{
 font-size: 16px;
    color: gray;
    margin-bottom: 48px;
   
}
.blog-post h3{
font-size: 24px;
font-weight: bold;
margin-bottom: 12px;
}

/* same as dream container p */ 
.blog-post p{    
font-size: 16px;
    color: gray;
    margin-bottom: 32px;
}

.blog-container{
    display: flex;
    background-color: #E6EDF9;
    border-radius: 16px;
    padding: 48px;
    width: 87.5%;
    align-items: center;
     margin-left: auto;
    margin-right: auto; 
    justify-content: space-between;

}

/* ---------------inspiration-------------------- */
 .inspiration-content{
border:1px solid gray;
border-radius: 18px;
    padding: 32px;
    padding-right: auto;
     margin-left: auto;
    margin-right: auto; 
align-items: center;
max-width: fit-content;

} 
iframe{
    border-radius: 18px;
   max-width: 100%;
 
  object-fit: cover;
    border:0px;
  
}

.card-container {
  width: 87.5%;
  margin: 0px auto 120px auto;
}

.blog-image img {
  width: 100%;
}

/* ----------------------Target------------------------------- */

.card{
    background-image: linear-gradient(#E6EdF9,#4CB5F5);
    padding: 40px;
    border-radius: 16px;
  width: 100%; 
  max-width: 350px;
  box-shadow: 5px 10px 15px 8px grey;
 margin-bottom: 60px;
 
}
.card img{
    margin-bottom: 24px;
}
.card h2{
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bolder;
}
.card a{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.card-container{
    display: flex;
    justify-content:space-evenly;
   
}

/* ----------------Footer------------------- */
.footer-text h4{
    font-size: 20px;
    font-weight: 600;
}
.footer-container{
    display: flex;
    background-color: #E6EDF9;
    padding: 32px 150px;
    justify-content: space-between;
}
.icon{
    margin-right: 20px;
}